body {
    font-family: Arial;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}
