body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: orange;
    color: white;
    padding: 20px;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.type-card {
    width: 320px;
}

.type-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.type-card img:hover {
    transform: scale(1.05);
}

.type-card h3 {
    margin-top: 15px;
}
