body {
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.box {
    width: 300px;
}

.box img {
    width: 100%;
    border-radius: 10px;
}
